@media screen and (min-width: 900px) {
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    position: fixed;
    top: 0;
    left: calc(50% - 80px);
    z-index: 10;
    width: 200px;
    margin-top: 20px;
  }
}

.logo {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.logo:hover {
  -moz-transform: scale(1.03,1.03);
  -webkit-transform: scale(1.03,1.03);
  transform: scale(1.03,1.03);
}
